/* line 4, /home/syat/Projects/onlinestore3/app/assets/stylesheets/patterns.scss */
body {
  font: 1em/1.67 'Open Sans', Arial, Sans-serif;
  background: #E9E9E9;
  padding-top: 70px;
  margin: 0;
}

/* line 11, /home/syat/Projects/onlinestore3/app/assets/stylesheets/patterns.scss */
.hero-spacer {
  margin-top: 50px;
}

/* line 15, /home/syat/Projects/onlinestore3/app/assets/stylesheets/patterns.scss */
.hero-feature {
  margin-bottom: 30px;
}

/* line 19, /home/syat/Projects/onlinestore3/app/assets/stylesheets/patterns.scss */
footer {
  margin: 50px 0;
}

/* line 23, /home/syat/Projects/onlinestore3/app/assets/stylesheets/patterns.scss */
.filter {
  margin-bottom: 15px;
}

/* line 27, /home/syat/Projects/onlinestore3/app/assets/stylesheets/patterns.scss */
.catalog a, .filter a {
  color: #337ab7;
  text-decoration: none;
}

/* line 32, /home/syat/Projects/onlinestore3/app/assets/stylesheets/patterns.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: 100;
}

/* line 36, /home/syat/Projects/onlinestore3/app/assets/stylesheets/patterns.scss */
.masonry {
  column-count: 3;
  column-gap: 1em;
}

/* line 41, /home/syat/Projects/onlinestore3/app/assets/stylesheets/patterns.scss */
.catalog-item {
  background-color: #eee;
  display: inline-block;
  margin: 0 0 1em;
  width: 100%;
  border: 1px solid #eee;
  text-align: center;
}
/* line 48, /home/syat/Projects/onlinestore3/app/assets/stylesheets/patterns.scss */
.catalog-item .btn {
  margin-bottom: 5px;
}
/* line 51, /home/syat/Projects/onlinestore3/app/assets/stylesheets/patterns.scss */
.catalog-item img {
  width: 100%;
  height: auto;
  display: block;
  margin: auto;
}

/* line 59, /home/syat/Projects/onlinestore3/app/assets/stylesheets/patterns.scss */
.item-body .btn {
  width: 80%;
  margin: 0 auto 5px auto;
}

/* line 66, /home/syat/Projects/onlinestore3/app/assets/stylesheets/patterns.scss */
#edit_page .current_image img {
  display: block;
  margin: 20px 0;
}

/* line 74, /home/syat/Projects/onlinestore3/app/assets/stylesheets/patterns.scss */
#item_show .panel-heading {
  padding: 0;
}
/* line 78, /home/syat/Projects/onlinestore3/app/assets/stylesheets/patterns.scss */
#item_show .item_image img {
  max-width: 100%;
  width: 100%;
  display: block;
  margin: 0 auto;
}
/* line 85, /home/syat/Projects/onlinestore3/app/assets/stylesheets/patterns.scss */
#item_show .panel-body {
  padding: 35px;
}
/* line 87, /home/syat/Projects/onlinestore3/app/assets/stylesheets/patterns.scss */
#item_show .panel-body h1 {
  margin: 0 0 10px 0;
}
/* line 90, /home/syat/Projects/onlinestore3/app/assets/stylesheets/patterns.scss */
#item_show .panel-body .description {
  color: #868686;
  line-height: 1.75;
  margin: 0;
}
/* line 96, /home/syat/Projects/onlinestore3/app/assets/stylesheets/patterns.scss */
#item_show .panel-footer {
  padding: 20px 35px;
}
/* line 98, /home/syat/Projects/onlinestore3/app/assets/stylesheets/patterns.scss */
#item_show .panel-footer p {
  margin: 0;
}
/* line 101, /home/syat/Projects/onlinestore3/app/assets/stylesheets/patterns.scss */
#item_show .panel-footer .user {
  padding-top: 8px;
}

/* line 107, /home/syat/Projects/onlinestore3/app/assets/stylesheets/patterns.scss */
textarea {
  min-height: 250px;
}
