<div class='col-md-6 col-md-offset-3'>

  <h1>Editing Pattern</h1>

  <%= image_tag @pattern.image.url(:medium) %>

  <%= render 'form' %>

  <%= link_to 'Show', @pattern %> |
  <%= link_to 'Back', patterns_path %>

</div>
