/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require fancybox
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "bootstrap/theme";
 @import "font-awesome";
a:visited {
  color: #337ab7;
}
a:hover {
  background-color: transparent;
}
.top-10 {
  margin-top: 10px;
}
.top-20 {
  margin-top: 20px;
}
.left-10 {
  margin-left: 10px;
}
.monospaced {
  font-family: 'Ubuntu Mono', monospaced;
}
.bottom-rule {
  content: "";
  display: block;
  border-bottom: 1px solid #ccc;
  padding: 0;
  margin: 15px;
}
.btn.outline {
	background: none;
	padding: 12px 22px;
}
.btn-primary.outline {
	border: 2px solid #0099cc;
	color: #0099cc;
}
.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
	color: #33a6cc;
	border-color: #33a6cc;
}
.btn-primary.outline:active, .btn-primary.outline.active {
	border-color: #007299;
	color: #007299;
	box-shadow: none;
}
.btn-success.outline {
	border: 2px solid #00bf6f;
	color: #00bf6f;
}
.btn-success.outline:hover, .btn-success.outline:focus, .btn-success.outline:active, .btn-success.outline.active, .open > .dropdown-toggle.btn-success {
	border-color: #39bf87;
	color: #39bf87;
}
.btn-success.outline:active, .btn-success.outline.active {
	border-color: #008c52;
	color: #008c52;
	box-shadow: none;
}
.btn-info.outline {
	border: 2px solid #31cde8;
	color: #31cde8;
}
.btn-info.outline:hover, .btn-info.outline:focus, .btn-info.outline:active, .btn-info.outline.active, .open > .dropdown-toggle.btn-info {
	border-color: #5fd4e8;
	color: #5fd4e8;
}
.btn-info.outline:active, .btn-info.outline.active {
	border-color: #35a2b5;
	color: #35a2b5;
	box-shadow: none;
}
.btn-warning.outline {
	border: 2px solid #eb8f34;
	color: #eb8f34;
}
.btn-warning.outline:hover, .btn-warning.outline:focus, .btn-warning.outline:active, .btn-warning.outline.active, .open > .dropdown-toggle.btn-warning {
	border-color: #eba259;
	color: #eba259;
}
.btn-warning.outline:active, .btn-warning.outline.active {
	border-color: #b87430;
	color: #b87430;
	box-shadow: none;
}
.btn-danger.outline {
	border: 2px solid #f25454;
	color: #f25454;
}
.btn-danger.outline:hover, .btn-danger.outline:focus, .btn-danger.outline:active, .btn-danger.outline.active, .open > .dropdown-toggle.btn-danger {
	border-color: #f26d6d;
	color: #f26d6d;
}
.btn-danger.outline:active, .btn-danger.outline.active {
	border-color: #bf4343;
	color: #bf4343;
	box-shadow: none;
}
